// change password form styles

.change-password-card {
  margin-top: 1rem;
  padding: 2rem;

  .section {
    &-title {
      color: $secondary;
      font-weight: 300;
      font-size: 1.8rem;
      margin-top: 1rem;
    }
    &-subtitle {
      font-style: italic;
      font-size: 1.2rem;
      margin-top: .8rem;
    }
  }

  .retype-input-error {
    font-size: 1.2rem;
    color: $error;
  }
}
