// Global body styles

.custom-toast {
  color: $white !important;
  background-color: $kodi_green !important;
  min-width: 147px !important;
  min-height: 50px !important;
  font-size: 14px !important;
  position: fixed !important;
  top: 77px !important;
  right: 0 !important;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
  border-radius: 4px 0 0 4px !important;
}
