
.details-container {
  background-color: $white;
  padding: 1rem;

  .left-section {
    position: relative;
    .picture-border {
      border: 2px dashed $kodi_orange;
      height: 14.5rem;
      width: 14.5rem;
      border-radius: 50%;

      .v-avatar {
        height: 13rem !important;
        min-width: 13rem !important;
        width: 13rem !important;
      }
    }

    button.edit-fab-btn {
      position: absolute;
      bottom: 5px;
      left: 90px
    }
  }

  .right-section {
    .info-section {
      padding-left: 1rem;
      height: 14.5rem;

      .landlord {
        &-name {
          text-transform: capitalize;
          color: $kodi_green;
          font-size: 2.6rem;
          font-weight: 300;
        }
        &-email {
          font-size: 1.6rem;
          font-weight: 300;
          margin-bottom: 1.5rem;
        }
        &-phone {
          color: $kodi-orange;
          font-size: 1.6rem;
          font-weight: 300;
        }
      }
    }
  }
}