
.v-data-table__wrapper {
  max-height: 40rem;

  table {
    tbody {
      tr {
        cursor: pointer;

        td:nth-child(1) {
          .v-image {
            border-radius: 50%;
            border: solid 1px $border_table_color_grey_light;
            max-width: 6rem;
            max-height: 6rem;
            overflow: hidden;
            margin: 5px;
          }
        }
        td:nth-child(10) {
          .v-icon {
            cursor: pointer;
          }
        }
      }
      tr:last-child {
        cursor: default;
      }
    }
  }
}