
.v-data-table__wrapper {
  max-height: 40rem;

  table {
    tbody {
      tr {
        cursor: pointer;

        td:nth-child(1) {
          .v-avatar {
            margin: 5px;
          }
        }
        td:nth-child(10) {
          .v-icon {
            cursor: pointer;
          }
        }
      }
      tr:last-child {
        cursor: default;
        :hover {
          background-color: $white;
        }
      }
    }
  }
}