// login form styles

.login-error {
  color: $error;
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input-error {
  position: relative;
  font-size: 1.2rem;
  color: $error;
  bottom: 2rem;
}

form {
  width: 100%;
  margin-bottom: 2rem;

  .reset-password {
    cursor: pointer;
    font-size: 1.2rem;
    color: $kodi_green;

    span {
      float: right;
      margin-bottom: 2rem;
    }
  }

  .login-btn {
    font-size: 1.6rem;
    font-weight: 300;
  }

  .alternate-text {
    text-align: center;
    margin: 1rem 0;
  }

  .v-card {
    min-width: 3.33rem;
    border-radius: 8px;

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-weight: 600;
    }

    &__text {
      text-align: center;
      font-size: 1.4rem;
      color: $black;
      line-height: 2rem;
      letter-spacing: normal;

      span {
        color: $kodi_green;
      }
    }

    &__actions {
      display: flex;
      justify-content: flex-end;
      padding: 8px 20px 17px 8px;

      .modal-btn {
        width: 6.7rem;
      }
    }
  }
}
