// Sidebar  Navigation

.v-navigation-drawer {
  z-index: 3;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .upperSection {

      .sideBar {

        &.v-list-item {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 64px;

          &:hover,
          &:active,
          &:focus {
            background-color: #d37100;
          }

          &--active {
            background-color: #d37100;
          }
        }
      }
    }

    .lowerSection {

      .sideBar {

        &.v-list-item {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 64px;

          &:hover,
          &:active,
          &:focus {
            background-color: #d37100;
          }

        }
      }
    }
  }

  &__border {
    width: 0;
  }
}
