// edit property form styles
.place-below-banner {
  position: fixed;
  top: 23rem;
  width: 72.5%;
}

.property-container {
  .v-card {
    &__title {
      &.title {
        font-size: 2.4rem !important;
      }
    }

    &__subtitle {
      &.subtitle {
        font-size: 1.6rem;
        font-weight: 300;
      }
    }
  }
}

.search-section {
  height: 8rem;
  .search-property {
    margin: 1.2rem;
    width: 40%;
  }
}

.landlord-info {
  padding: 1.6rem 1.6rem 1.6rem 0;

  .landlord-avatar {
    margin-right: 1.5rem;
  }
}

.add-button-section {
  height: 8rem;
  .property-btn-container {
    margin: 1.2rem;

    button:first-child {
      margin-right: 1rem;
    }
  }
}


.v-data-table__wrapper {
  max-height: 50vh;

  table {
    thead{
      tr {
        th {
          text-transform: capitalize;
          font-size: 1.2rem;
        }
      }
    }
    tbody {
      tr {
        td {
          font-size: 1.2rem;
        }
        td:first-child {
          cursor: pointer;
          color: $primary;
        }
        td:nth-child(7) {
          .v-image {
            max-width: 10rem;
            max-height: 6rem;
            overflow: hidden;
            margin: 5px;
          }
        }
        td:nth-child(8) {
          .v-chip {
            margin: 2px !important;
            &__content {
              font-size: 12px;
            }
          }
        }
        td:nth-child(9) {
          .v-icon {
            cursor: pointer;
          }
        }
      }
      tr:last-child {
        cursor: default;
        :hover {
          background-color: $white;
        }
      }
    }
  }
}

.v-dialog {
  max-width: 60rem;
}
