// add property form styles

.header-section {
  position: relative;

  .card {
    &-title {
      font-size: 2.4rem !important;
      margin-bottom: 7px;
      padding-left: 1rem !important;
    }
    &-subtitle {
      font-size: 1.6rem !important;
      font-weight: 300;
      padding-left: 1rem !important;
      padding-top: 5px;
    }
  }
  .close-icon {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 3rem;
    cursor: pointer;
  }
}

.modal-property-image {
  max-width: 20rem;
  max-height: 12rem;
  overflow: hidden;
}

.contact-title {
  color: $black;
  font-size: 1.6rem;
}

.input-hint {
  font-style: italic;
  position: relative;
  font-size: 1.2rem;
  bottom: 1.8rem;
}