// tenant rental invoice records table styles
.heading-title {
  font-size: 2.4rem !important;
  padding-left: 1.5rem !important;
  padding-top: 5px;
  margin-top: 5px;
  text-transform: capitalize;
}

.card-title {
  padding: 0 16px !important;
}

.search-invoice-table {
  width: 20rem;

  .v-label {
    font-size: 1.3rem;
    color: $accent;
  }
}

.invoice-records-table {
  .v-data-table__wrapper {
    max-height: 35vh;
    overflow-x: hidden;
    overflow-y: auto;

    .text--success {
      color: $success;
    }

    table {
      thead{
        tr {
          th {
            text-transform: capitalize;
            font-size: 1.2rem;
          }
        }
      }
      tbody {
        tr {
          cursor: pointer;
          td {
            font-size: 1.2rem;
            &:first-child {
              color: $black;
            }
          }
        }
      }
    }
  }

  .v-data-footer {
    font-size: 1.2rem;
    .v-select__selection--comma {
      font-size: 1.2rem !important;
    }
  }
}

