// Top toolBar

.v-toolbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;

  .sb-logo-image {
    overflow: hidden;
    width: 184px;
    height: 36px;
    padding-right: 13px;
    border-right: solid 2px #979797;

    .logo-image {
      max-height: 100%;
    }

  }

  .client-logo-image {
    overflow: hidden;
    width: 123px;
    height: 36px;
    padding-left: 10px;

    .logo-image {
      max-height: 100%;
    }
  }
}


