// Top toolBar

.v-toolbar {
  position: fixed;
  border-bottom: solid 1px $border_table_color_grey_light;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  z-index: 3;

  .v-avatar {
    min-width: 4rem !important;
    width: 4rem !important;
    height: 4rem !important;
  }

  .user {
    margin-right: 1rem;
    align-items: flex-end;

    &-name {
      font-size: 1.3rem;
    }
    &-role {
      font-style: italic;
    }
  }

  .drop-menu {
    font-size: 1.2rem;
  }
}

.user-menu-icons{
  font-size: 2.6rem;
}
.user-menu-text{
  font-size: 1.1rem !important;
}


