// add modal form styles

.modal-info-form {
  width: 59.4rem;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  .v-card {
    position: relative;

    &__title {
      padding: 1rem !important;
      background-color: $white;

      &.heading {
        position: fixed;
        border-bottom: solid 1px $table_hover_bg_color;
        width: 59.4rem;
        z-index: 4;
      }

      .title {
        font-size: 2.4rem !important;
        margin-bottom: 7px;
        padding-left: 1.5rem !important;
        padding-top: 5px;
      }
    }

    &__text {
      &.content {
        padding-top: 53px;
        height: auto;
      }
    }
  }
}

.close-icon {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 3rem;
  cursor: pointer;
}

.v-avatar {
  &.modal-data-image {
    min-width: 10rem !important;
    height: 10rem !important;
    width: 10rem !important;
  }
}

.section {
  &-title {
    color: $secondary;
    font-weight: 300;
    font-size: 1.8rem;
    margin-top: 1rem;
  }
  &-subtitle {
    color: $accent;
    font-weight: 300;
    font-style: italic;
    font-size: 1rem;
    margin-top: .8rem;
  }
}

.map-container {
  position: relative;
  width: 54rem;
  height: 30rem;

  .location-input {
    position: absolute;
    z-index: 2;
    right: 1rem;
    top: 1rem;
    height: 4.2rem;
    overflow: hidden;

    .location-name {
      width: 32.5rem;
      .v-input__control {
        min-height: 4rem;
      }
    }
  }

  .vue-map {
    .gm-style-iw-c {
      button {
        top: 0 !important;
        right: 0 !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 2rem !important;
        height: 2rem !important;
        background-color: $kodi_orange !important;
      }
    }
  }
}

.input-hint {
  font-style: italic;
  position: relative;
  font-size: 1.2rem;
  bottom: 1.8rem;
}

.file-error {
  //position: relative;
  font-size: 1.2rem;
  color: $error;
  left: 3.3rem;
}
