// add modal form styles

.modal-info-form {
  width: 59.4rem;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  .v-card {
    position: relative;

    &__title {
      padding: 1rem !important;
      background-color: $white;

      &.heading {
        position: fixed;
        border-bottom: solid 1px $table_hover_bg_color;
        width: 59.4rem;
        z-index: 1;
      }

      .title {
        font-size: 2.4rem !important;
        margin-bottom: 7px;
        padding-left: 1.5rem !important;
        padding-top: 5px;
      }
    }

    &__text {
      &.content {
        padding-top: 53px;
        height: auto;
      }
    }
  }
}

.close-icon {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 3rem;
  cursor: pointer;
}

.v-avatar {
  &.modal-data-image {
    min-width: 10rem !important;
    height: 10rem !important;
    width: 10rem !important;
  }
}

.section-title {
  color: $secondary;
  font-weight: 300;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.input-hint {
  font-style: italic;
  position: relative;
  font-size: 1.2rem;
  bottom: 1.8rem;
}

.file-error {
  //position: relative;
  font-size: 1.2rem;
  color: $error;
  left: 3.3rem;
}
