@import 'src/styles/components/modalForms';

.modal-info-form {
  width: 90rem;

  .v-card {

    &__title {

      &.heading {
        width: 90rem;
      }
    }

    &__text {
      &.content {
        padding: 5.3rem 0;
        height: auto;

        .search-tenant-table {
          margin-left: 1rem;
        }
      }
    }
  }
}

.tenants-property-table {
  .v-data-table__wrapper {
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;

    table {
      thead{
        tr {
          th {
            font-size: 1.2rem;
          }
        }
      }
      tbody {
        tr {
          td {
            font-size: 1.2rem;
          }
          td:first-child {
            cursor: text;
            color: $black;
            font-style: normal;
          }
        }
      }
    }
  }

  .v-data-footer {
    font-size: 1.2rem;
    .v-select__selection--comma {
      font-size: 1.2rem !important;
    }
  }
}

