// Table component styles

table {
  &.dataTable {
    width: 100%;
    border-collapse: collapse;
  }
}

.dataTable {
  & thead {
    font-size: 14px;
    font-weight: 600;
    color: $black;
    opacity: 1;
    tr {
      height: 36px;
      th {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        background-color: $header_table_bg_color;
        z-index: 2;
        top: 0;
      }
    }
  }
}

.dataTable {
  & tbody {
    tr {
      height: 45px;
      &:hover {
        background-color: $table_hover_bg_color;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $border_table_color_grey_light;
      }
      td {
        position: relative;
        font-size: 14px;
        padding: 15px 0;
        text-align: left;
        color: $black;
        opacity: 1;

        span {
          &.center-text {
            position: absolute;
            left: 38.5%;
            transform: translateY(-50%);

            &.bold-text {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.credit {
  color: $success;
}

.debt {
  color: $error
}