// Sass Mixins
@mixin flex-login-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

@mixin flex-main-page {
  display: flex;
  flex-direction: row;
  height: auto;
}

@mixin align-item-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
