//  *** Sass Variables ***

//default vuetify theme colors (some already modified for project design)
$primary: #ff8800;
$secondary: #184857;
$accent: #9e9e9e;
$error: #FF5252;
$info: #1867C0;
$success: #4CAF50;
$warning: #FFC107;

//supplementary base colors
$black: rgba(0, 0, 0, 0.87);
$white: #fff;
$divider-grey: #e8e8e8;
$border_table_color_grey_light: #dfdfdf;
$header_table_bg_color: #f2f2f2;
$table_hover_bg_color: #f2f2f2;
$SB_orange: #ff8800;

//login page colors
$light-caramel: #ffeedb;
$dark-slate-blue: #184857;
