// styles for the landlords page
.content {
  height: 100vh;

  .landlord-list-area {
    position: relative;

    .landlord-list {
      position: fixed;
    }
  }

  .landlord-info-area {
    position: relative;

    .landlord-table-card {
      margin-bottom: 1.5rem;
    }
  }
}