// login page styles

.login {

  .v-responsive.v-image {
    &:before {
      content: "";
      background-image: linear-gradient(to bottom right, $kodi_orange, $black ,$kodi_green );
      width: 100%;
      height: 100%;
      opacity: .9;
    }
  }

  &-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &-form-container {
    background-color: $white;
    z-index: 1;
    height: 100vh;
    padding: 4rem;
  }

  .form {
    &-section {
      &-logo {
        margin-top: 5rem;

        .login-logo {
          max-width: 25%;
        }
      }
    }

    &-container {
      margin-top: 10rem;
      min-height: 34rem;

      &-header {
        font-size: 4.5rem;
        font-weight: 300;
        color: $kodi_orange;
      }
      &-subheader {
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 300;
        margin-bottom: 1.5rem;
        color: $accent;
      }

      .login-error {
        color: $error;
        font-size: 1.4rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .input-error {
        position: relative;
        font-size: 1.2rem;
        color: $error;
        bottom: 2rem;
      }

      form {
        width: 70%;

        .reset-password {
          display: block;
          position: relative;
          cursor: pointer;
          font-size: 1.2rem;
          color: $kodi_green;

          span {
            position: absolute;
            right: 0;
          }
        }

        .login-btn {
          position: relative;
          top: 2.6rem;
          font-size: 1.6rem;
          font-weight: 300;
        }

        .v-card {
          min-width: 3.33rem;
          border-radius: 8px;

          &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            font-weight: 600;
          }

          &__text {
            text-align: center;
            font-size: 1.4rem;
            color: $black;
            line-height: 2rem;
            letter-spacing: normal;

            span {
              color: $kodi_green;
            }
          }

          &__actions {
            display: flex;
            justify-content: flex-end;
            padding: 8px 20px 17px 8px;

            .modal-btn {
              width: 6.7rem;
            }
          }
        }
      }
    }
  }
}
